Form{
    height: 500px;
    width: 500px;
    background-color: blanchedalmond;
    border-width: 2px;
    border-style: solid;
    border-color: blueviolet;

    text-align: center;
}
i{
    height: 50px;
    width: 50px;


}