Form{
    height: 500px;
    width: 500px;
    background-color: blanchedalmond;
    border-width: 2px;
    border-style: solid;
    border-color: blueviolet;
    border-radius: 15px;
    text-align: center;
    padding-left: 25px;
    padding-top: 50px;
    margin-top: 250px;
    margin-left: 700px;
}
i{
    height: 50px;
    width: 50px;


}
