div{
    height: 500px;
    width: 500px;
    background-color: blanchedalmond;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    padding-left: 50px;
    padding-top: 50px;
    margin-top: 250px;
    margin-left: 600px;
    
}