.contentbox{
    height: 50px;
    width: px;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    display: inline-block;
}
main{
    height: 500px;
}
footer{
    height: 60px;   
    background-color: #0f1111;
    color: antiquewhite;
    text-align: center;
}