
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb(27, 25, 22);

}

.logo {
    height: 50px;
    width: 50px;
    cursor: pointer;
}
li, a {
    font-family: "monospace",sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: antiquewhite;
    text-decoration: none;

}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 10%;
}
.nav__links {
    list-style: none;

}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;

}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: #0088a9;   
}
button {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid #ff0072;
    box-shadow: 0 2px 10px rgba(0,0,0,0.16),
    0 3px 6px rgba(0,0,0,0.1);
}
        