
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: rgb(27, 25, 22);

}

.logo{
    height: 50px;
    width: 50px;
}
li, a, button {
    font-family: "monospace",sans-serif;
    font-weight: 500px;
    font-size: 16px;
    color: antiquewhite;
    text-decoration: none;

}